@model lab5.Models.OwnerViewModel
@addTagHelper "lab5.TagHelpers.PageLinkTagHelper, lab5"
@{
    ViewData["Title"] = "Owners";
}
<style type="text/css">
    th, td {
        padding-right: 15px;
    }
</style>

<br />
<form class="form-inline" method="get">
    <label>Выберите дату рождения:</label>
    <select name="currentParameterID" class="form-control">
        @foreach (OwnerBirthDateFilter own in Model.OwnerBirthDates)
        {
            if (own.Id == Model.CurrentOwnerBirthDate.Id)
            {
                <option selected value="@own.Id">@own.OwnerBirthDate</option>
            }
            else
            {
                <option value="@own.Id">@own.OwnerBirthDate</option>}
        }
    </select>
    <input type="submit" value="Показать" class="btn btn-default" />
</form>

<table style="margin:20px;">
    <caption>Владельцы</caption>
    <tr>
        <th>Код владельца</th>
        <th>ФИО</th>
        <th>Адрес</th>    
        <th>Дата рождения</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var owner in Model.Owners)
    {
        <tr>
            <td>@owner.OwnerID</td>
            <td>@owner.OwnerName</td>
            <td>@owner.OwnerAddress</td>           
            <td style="padding-right:25px">@owner.OwnerBirthDate.Value.Day-@owner.OwnerBirthDate.Value.Month-@owner.OwnerBirthDate.Value.Year</td>
            <td style="padding-right:10px"><a href="~/Owners/Edit/@owner.OwnerID">Изменить</a></td>
            <td style="padding-right:10px"><a href="~/Owners/Delete/@owner.OwnerID">Удалить</a></td>
            <td style="padding-right:10px"><a href="~/Owners/More/@owner.OwnerID">Подробнее</a></td>
        </tr>
    }

    <tr>
        <td style="padding:10px; padding-left:30px"><a asp-action="Create" class="btn btn-primary">Добавить</a></td>
    </tr>
</table>

<page-link page-model="Model.PageViewModel" page-action="Owners"></page-link>


