@model lab5.Models.Car
@{
    ViewData["Title"] = "Car";

}
<style type="text/css">
    td {
        padding-right: 20px;
    }

    .boldTd {
        font-weight: bold;
    }
</style>

<h2>Удалить</h2>
<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Автомобиль</h4>
    <hr />
    <table style="margin:20px;">
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarID)</td>
            <td> @Html.DisplayFor(car => car.CarID) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.Brand.BrandName)</td>
            <td> @Html.DisplayFor(car => car.Brand.BrandName) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.Owner.OwnerName)</td>
            <td> @Html.DisplayFor(car => car.Owner.OwnerName) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarRegistrationNumber)</td>
            <td> @Html.DisplayFor(car => car.CarRegistrationNumber) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarPhoto)</td>
            <td> @Html.DisplayFor(car => car.CarPhoto) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarNumberOfBody)</td>
            <td> @Html.DisplayFor(car => car.CarNumberOfBody) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarNumberOfMotor)</td>
            <td> @Html.DisplayFor(car => car.CarNumberOfMotor) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarNumberOfPassport)</tdv>
            <td> @Html.DisplayFor(car => car.CarNumberOfPassport) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarReleaseDate)</td>
            <td> @Html.DisplayFor(car => car.CarReleaseDate) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarRegistrationDate)</td>
            <td> @Html.DisplayFor(car => car.CarRegistrationDate) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarLastCheckupDate)</td>
            <td> @Html.DisplayFor(car => car.CarLastCheckupDate) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarColor)</td>
            <td> @Html.DisplayFor(car => car.CarColor) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(car => car.CarDescription)</td>
            <td> @Html.DisplayFor(car => car.CarDescription) </td>
        </tr>

    </table>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="hidden" asp-for="CarID" />
            <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
            <a asp-action="Cars" class="btn btn-sm btn-primary">Вернуться</a>
        </div>
    </form>
</div>
